In [1]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Connecting to MySQL
db = mysql.connector.connect(
     user='root',
     passwd='rootroot'
)

mycursor = db.cursor()

In [ ]:
# Create Database
mycursor.execute('CREATE DATABASE COVID_ETL_PIPELINE')

In [3]:
# SQLalchemy connection to MySQL
engine = create_engine('mysql+pymysql://root:rootroot@localhost:3306/COVID_ETL_PIPELINE')

In [7]:
# Import CSV to MySQL
df = pd.read_csv('owid-covid-data.csv')
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [8]:
import pandas as pd

In [65]:
# Convert update_file_history.log to dataframe 

# load in file 
file = open('update_file_history.log', 'r')
temp = file.read()

# split on line space
history = temp.split('\n')

# create dataframe
log_history = pd.DataFrame()
log_history['Log History'] = history

# removes empty row at row index 101 
log_history = log_history[:-1]

#create empty lists
log_status = []
log_date = []
log_time = []

# loop though each element in each row 
for element in log_history['Log History']:
    
    # get log status
    log_status.append(element.split(' on')[0].split(':')[1])
    
    # get log date
    log_date.append(element.split('on ')[1].split(' ')[0])

    # get log time 
    log_time.append(element.split('on ')[1].split(' ')[1])
    
# update dataframe  
log_history['Log Status'] = log_status
log_history['Log Date'] = log_date
log_history['Log Time'] = log_time
log_history = log_history.drop('Log History', axis=1)

# Sanity check
log_history['Log Date'].iloc[-1]

'2021-07-31'

In [66]:
# Initial Setup
def initial_setup():
    import requests

    with requests.get('https://covid.ourworldindata.org/data/owid-covid-data.csv') as rq:
        with open('owid-covid-data.csv', 'wb') as file:
            file.write(rq.content)
            logging.info('Successfully Updated COVID-19 Data')